<div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Features</h1>
            <p class="text-center sub-heading">Even the all-powerful Pointing has no control about the blind texts it
                is an almost unorthographic life One <br> day however a small line of blind text by the name of Lorem
                Ipsum
                decided to leave for the far World of <br> Grammar.</p>
            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img class="img-fluid" src="images/mountain3.jpg" alt="herosectionImage">
                    </figure>
                </div>
                <div
                    class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>Big Benefits for <br> Small Business</h1>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia.
                        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> Pointing has no control</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly into your mouth</p>

                </div>
            </div>

            <div class="row">
                <div
                    class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column order-1 order-md-0">
                    <h1>How Frame is <br> different</h1>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. 
                        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                   <p><i class="fa-solid fa-check fa-1x"></i> Pointing has no control</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly into your mouth</p>

                </div>
                <div class="col-md-6 col-12 hero-text order-0 order-md-1">
                    <figure>
                        <img class="img-fluid" src="images/mountain3.jpg" alt="herosectionImage">
                    </figure>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6 col-12 hero-text">
                    <figure>
                        <img class="img-fluid" src="images/mountain3.jpg" alt="herosectionImage">
                    </figure>
                </div>
                <div
                    class="col-md-6 col-12 hero-text d-flex justify-content-center align-items-start flex-column">
                    <h1>All in One Place</h1>
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. 
                        It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> Pointing has no control</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows</p>
                    <p><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly into your mouth</p>

                </div>
            </div>

        </div>
    </div>
</div>