<div class="subImageContain homeContainer">
    <h1>uicookies.com Creates High</h1>
    <h1>Quality Bootstrap Template For</h1>
    <h1>Free</h1>
    <div class="buttonTwo my-5">
        <button class="bg-button mb-2">Get Them Now</button>
        <button class="bg-button-border mb-5">See Features</button>
    </div>
</div>

<div class="category py-3">
    <div class="row">
        <div class="col-md-4 col-12">
            <i class="fa-solid fa-mobile-screen-button fa-10x"></i> <br><br><br><br>
            <h3>Mobile Optimize</h3><br>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and
                Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
                right at the coast of the Semantics, a large language ocean.</p> 
            <button class="learn-more"> Learn More </button>
        </div>
        <div class="col-md-4 col-12">
            <i class="fa-solid fa-wallet fa-10x"></i> <br><br><br><br>
            <h3>Increase Revenue</h3> <br>
            <p>A small river named Duden flows by their place and supplies it with the necessary
                regelialia. It is a paradisematic country, in which roasted parts of sentences fly
                into your mouth.</p> 
            <button class="learn-more"> Learn More </button>
        </div>
        <div class="col-md-4 col-12">
            <i class="fa-solid fa-lightbulb fa-10x"></i> <br><br><br><br>
            <h3>Smart Idea</h3><br>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an
                almost unorthographic life One day however a small line of blind text by the name
                of Lorem Ipsum decided to leave for the far World of Grammar.</p>
            <button class="learn-more"> Learn More </button>
        </div>
    </div>
</div>