<div class="container-fluid navbar-style py-3">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#heroid" id="logo">FRAME</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="#heroid">HOME</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#featureid">FEATURES</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#priceid">PRICING</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#reviewid">REVIEWS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="#contactid">CONTACT</a>
                            </li>

                        </ul>

                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>