<div class="container-fluid mt-5 about-style">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Choose the plan that’s right for your business</h1>
            <p class="text-center sub-heading">Even the all-powerful Pointing has no control about the blind texts it
                is an almost unorthographic life One <br> day however a small line of blind text by the name of Lorem
                Ipsum decided to leave for the far World of <br> Grammar.
            </p>

            <div class="price-card">
                <div class="row">
                    <div class="col-md-4 col-12 card">
                        <div class="card-body">
                            <h3 class="text-center card-main-heading">STARTER</h3>
                            <p class="text-center card-sub-heading"><i class="fa-solid fa-dollar-sign"></i>22.99</p>
                            <p class="text-center sub-heading">This is a monthly recurring payment.</p>
                            <p class="card-item pt-3"><i class="fa-solid fa-check fa-1x"></i> Pointing has no control
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly
                                into
                                your mouth</p>
                            <div class="text-center pt-3">
                                <button class="bg-button">Get Started</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 card">
                        <div class="card-body">
                            <h3 class="text-center card-main-heading">BUSINESS</h3>
                            <p class="text-center card-sub-heading"><i class="fa-solid fa-dollar-sign"></i>69.99</p>
                            <p class="text-center sub-heading">This is a monthly recurring payment.</p>
                            <p class="card-item pt-3"><i class="fa-solid fa-check fa-1x"></i> Pointing has no control
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly
                                into
                                your mouth</p>
                            <div class="text-center pt-3">
                                <button class="bg-button">Get Started</button>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-12 card">
                        <div class="card-body">
                            <h3 class="text-center card-main-heading">PREMIUM</h3>
                            <p class="text-center card-sub-heading"><i class="fa-solid fa-dollar-sign"></i>224.99</p>
                            <p class="text-center sub-heading">This is a monthly recurring payment.</p>
                            <p class="card-item pt-3"><i class="fa-solid fa-check fa-1x"></i> Pointing has no control
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> A small river named Duden flows
                            </p>
                            <p class="card-item"><i class="fa-solid fa-check fa-1x"></i> Roasted parts of sentences fly
                                into
                                your mouth</p>
                            <div class="text-center pt-3">
                                <button class="bg-button">Get Started</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>